.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.articles {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 20px;
}
.articleItem {
  min-height: 400px;
  width: 300px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 1px 3px 10px 1px rgba(0, 0, 0, 0.54);
  border: 1px solid rgba(0, 0, 0, 0.12);
  margin: 20px auto;
  overflow: hidden;
}
.articleItem img {
  width: 100%;
  height: 200px;
}
.articleText {
  padding: 15px 20px;
}
.articleText a {
  font-size: 17px;
  font-weight: 600;
  display: block;
  margin-bottom: 20px;
  color: blue;
  min-height: 100px;
}
